<div *ngFor="let parking of parkings">
  <div *ngIf="parking.nbPlacesVoiture">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title [ngStyle]="calculStyleNbrePlaces(parking)">{{ parking.nom }}</mat-card-title>
        <mat-card-subtitle>{{ parking.adresse }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          A {{parking.heureMAJ | date: 'HH:mm'}}, places disponibles
          <fa-icon [icon]="faCarSide" [ngStyle]="calculStyleNbrePlaces(parking)"></fa-icon>
          : {{ parking.nbPlacesVoiture }}
        </p>
      </mat-card-content>
    </mat-card>
    <hr />
  </div>
</div>